.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
.typeinfo {
    text-shadow: 9cm;
    color:argb(26, 77, 72);
    font-size: 50cm;
}
.fa fa-instagram{
    padding-bottom: 15px;
}
.fa fa-instagram {
    size: 13px;
    line-height: 7px;
    text-align: center;
    }
