.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.typeinfo {
    text-shadow: 9cm;
    color: argb(26, 77, 72);
}

.fa fa-instagram {
    padding-bottom: 15px;
}

.nav {
    display: block;
}


@media only screen and (max-width: 413px) {
    .header-nav {
        height: 112px;
    }
}
