{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add your review</h3>

    <form class="col s12" method="POST" action="{{ url_for('add_comment') }}">
    <label for="barber_name" class="required">Barber name</label>
    <textarea name="barber_name" id="barber_name" rows="10" tabindex="4"  required="required"></textarea>

    <label for="comment_x" class="required">Your Reviews</label>
    <textarea name="comment_x" id="comment_x" rows="10" tabindex="4"  required="required" minlength="5" maxlength="200"></textarea>

    <label for="date_ofcut">Date:</label>

<input type="date" id="date_ofcut" name="date_ofcut"
       value="2020-01-22"
       min="2019-01-01" max="2060-12-31">

    <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
    <input name="submit" type="submit" value="Submit" class="waves-effect waves-light btn">
        
  </form>

{% endblock %}