<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Review manager</title>
</head>
<body>
   
</body>
    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Site Mission</h5>
          <p class="grey-text text-lighten-4">Our mission here at Cutz is to identify the best barbers in your area and make it easier for people to take advantage of a database of the diverse barbers and styles in the region and make and update reviews about our featured ones. Feel free to suggest more as well.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>


    
    {% block content %}
    {% endblock %}

 