<!-- {% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for categories in categories %}
        <li>
            <div class="collapsible-header white-text teal text-shadow">
                <strong>{{ categories.barber_name }}</strong> {{ categories.date_ofcut }}
                {% if categories.category_name == "Shave" %}
                   Ronaldo
                {% elif categories.category_name == "Pattern" %}
                    Ida
                {% endif %}
                    
            </div>
            <div class="collapsible-body">
                <strong>{{ categories.category_name }}</strong>
                <p>{{ categories.comment_x }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %} -->