{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for reviews in reviews %}
        <li>
            <div class="collapsible-header white-text teal text-shadow">
                <strong>{{ reviews.barber_name }}</strong> {{ reviews.date_ofcut }}
                {% if reviews.comment_post_id == "1" %}
                   comment_x
                {% elif reviews.comment_x == "" %}
                    comment_x
                {% endif %}
                    
            </div>
            <div class="collapsible-body">
                <strong>{{ reviews.barber_name }}</strong>
                <p>{{ reviews.names }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}