{% extends "base.html" %}
{% block content %}
    <div id="respond">
        <div class="container">
            <h3 class="center-align">Welcome {{ session["user"] }}!</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>comment</th>
                        <th>Date</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rev in review %}
                        <tr>
                            <td>{{ rev.comment }}</td>
                            <td>{{ rev.date_of_cut }}</td>
                            <td>
                                <a class="btn btn-sm" href="{{ url_for('edit_review',  rev=rev._id) }}"><i class="fa fa-edit"></i></a> &nbsp;
                                <a class="btn btn-sm btn-danger" href="{{ url_for('delete_review',rev = rev._id) }}" style="background-color: #d9534f"><i
                                        class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}