{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>
<head>
    <title>Find your barber and get your review out there!</title>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
       <P>Leave your name and your review of any of the below Barbers please. Thanks :)</P>

<form action="/action_page.php" id="usrform">
  Name: <input type="text" name="usrname">
  <label for="email">Email</label> 
  <input id="email" type="email" class="validate">
          
<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>
  <input type="submit" style="align-items: center;">
</form>
</head>

<body>
    

                <!-- register -->
<section>

<div class="row">
    <div class="col s12 m7">
      <div class="card">
       
           <img class="card-img-top" src="static/images/arn5.jpg" alt="" style="max-width: 130%;">
          <span class="card-title">Ronaldo</span>
        </div>
        <div class="card-content">
          <p>Fade specialist with an aggresive style. Does curls and shape-ups for beards and every hair style</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
       
           <img class="card-img-top" src="static/images/ida.png" alt="" style="max-width: 130%;">
          <span class="card-title">Ida</span>
        </div>
        <div class="card-content">
          <p>Ida is sharp with the razor and sharp with the tongue. Fades, extensions and basic cuts</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
       
           <img class="card-img-top" src="static/images/canar.jpg" alt="" style="max-width: 130%;">
          <span class="card-title">Canar</span>
        </div>
        <div class="card-content">
          <p>Famous for his hot shaves and very close and sharp shape-ups. He has over 15 years cutting hair basic styles and fades.</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>

      <div class="row">
    <div class="col s12 m7">
      <div class="card">
       
           <img class="card-img-top" src="static/images/beard2.jpg" alt="" style="max-width: 130%;">
          <span class="card-title">Bernardo</span>
        </div>
        <div class="card-content">
          <p> Beards and Tattoos is the best way to describe this man. Fades, waves, and beard shape-ups are his specials</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>

</section> 






</body>
{% endblock %}